@model RazorPagesDotCMS.Models.PageResponse
@{
    ViewData["Title"] = Model?.Entity?.Page?.Title ?? "DotCMS View";
    var layout = Model?.Entity?.Layout;
    var page = Model?.Entity?.Page;
    var containers = Model?.Entity?.Containers;
}


    <div class="body-wrapper">
        @{
            var mainColumn = layout?.Body;
            var sidebar = layout?.Sidebar;
            
            // Handle sidebar if present
            if (sidebar != null)
            {
                <div class="container">
                    <div class="grid">
                        @* Sidebar implementation would go here *@
                    </div>
                </div>
            }
            
            // Process rows in the main column
            if (mainColumn?.Rows != null && mainColumn.Rows.Count > 0)
            {
                int rowCount = 0;
                
                foreach (var row in mainColumn.Rows)
                {
                    rowCount++;
                    int rowLeftOffset = 1;
                    
                    <section id="section-@rowCount" class="section @row.StyleClass">
                        <div class="container">
                            <div class="grid">
                                @foreach (var column in row.Columns)
                                {
                                    string columnClass = $"col-lg-{column.Width ?? 12}";
                                    string offsetClass = "";
                                    
                                    // Calculate offset
                                    if (rowLeftOffset != column.LeftOffset)
                                    {
                                        int offset = column.LeftOffset.GetValueOrDefault() - rowLeftOffset;
                                        if (offset > 0)
                                        {
                                            offsetClass = $"offset-lg-{offset}";
                                        }
                                    }
                                    
                                    rowLeftOffset = column.LeftOffset.GetValueOrDefault() + column.Width.GetValueOrDefault();
                                    
                                    <div class="@columnClass @offsetClass @column.StyleClass">
                                        @if (column.Containers != null)
                                        {
                                            foreach (var container in column.Containers)
                                            {
                                                if (containers != null && containers.TryGetValue(container.Identifier, out var containerStructure))
                                                {
                                                    <div class="container-content">
                                                        <h3>@containerStructure.Container?.Title</h3>
                                                        
                                                        @if (containerStructure.Contentlets != null)
                                                        {
                                                            // Get the container instance ID to filter contentlets
                                                            string containerInstanceId = container.ContainerInstanceId;
                                                            
                                                            // Check if this container instance has contentlets
                                                            if (containerStructure.Contentlets.TryGetValue(containerInstanceId, out var instanceContentlets))
                                                            {
                                                                foreach (var contentlet in instanceContentlets)
                                                                {
                                                                    <contentlet-renderer contentlet="contentlet"></contentlet-renderer>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="no-contentlets">
                                                                    <p>No contentlets found for this container instance.</p>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                }
            }
            else
            {
                <div class="container">
                    <div class="grid">
                        <div class="col-12">
                            <p>No layout rows found.</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
